.avatarContainer {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.avatar369 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: 100px;
}
.avatarButton {
	position:relative;
	bottom:30px;
	left:250px;
}